.container
  .row
    .logo
      = image_tag 'logo_black.png'

  .row
    .header
      %h1.headline Evaluator Assignment News

  .row
    %p.subhead-1
      %strong= @presenter.user.fullname
      has assigned
      %strong= @presenter.evaluator == @recipient ? 'you' : @presenter.evaluator.fullname
      to recruit:

    %h3.title
      = link_to vue_recruit_document_url(@presenter.recruit_document), class: 'link', target: '_blank' do
        %strong= @presenter.recruit_document.safe_recruit_name

    %p.subhead-1
      who is applying for
      %strong= @presenter.recruit_document.position
      position

  .row
    %p.body-2
      Current Status &raquo;
      %span.chip{ style: "background: #{@presenter.status.color};" }= @presenter.status.label
  .row
    %p.caption This message is generated automatically. Please do not respond to this.

  .row
    %p.subhead-1
      Best Regards
      %br
      %em Evally Team &hearts;
